.card {
  height: 360px;
  cursor: pointer;

  .card-title {
    width: 70%;
  }

  .card-body {
    background-color: #e7e7e7;
    height: 150px;

    ul {
      list-style-type: none;
    }

    .recipe-details {
      font-size: 0.75rem;
      height: 80%;

      .recipe-details__instructions {
        font-family: Roboto, sans-serif;
      }
    }

    .recipe-instructions {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
  }
}
