.btn-group {
  .dropdown-toggle {
    width: 170px;
    height: 70px;
  }
  .dropdown-menu.show {
    display: flex;
    flex-direction: column;
    max-height: 390px;
    flex-wrap: wrap;
    top: -5px !important;
    border: unset;
  }

  .dropdown-item {
    width: max-content;

    &:hover,
    &:focus {
      background-color: #a8afb7;
      border-radius: 25px;
    }
  }

  .form-control::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 14px;
  }

  .dropdown-search {
    display: none;
  }
}
